
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:  cover;
  filter: blur(10px);
  
}

.content {
  position: relative; /* 상대 위치 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loading {
  color: black; /* 보라색 텍스트 색상 */
  font-size: 30px;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: #333;
}
.poster {
  max-width: 80%; /* 변경된 부분: 포스터 크기를 키웁니다. */
  margin-bottom: 20px;
}

.title {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.genres {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.separator {
  width: 100%;
  margin: 20px 0;
  border-bottom: 1px solid white;
}

.summary {
  color: #ffffff;
  font-weight: bold;
  max-width: 800px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 18px;
  padding: 0 20px;
  width: 100%;
}

.backButton {
  position: absolute;
  font-size: 44px;
  top: 0px;
  left: 0px;
  z-index: 1;
  border: none;
  padding: 0px 0px; /* 텍스트 주변에 여백 추가 */
  cursor: pointer;
  background-color: transparent;
}
